.encabezado {
  background-image: url('../img/header.jpg');
  height: 198px;
}


.borde {
  border-style: solid;
  border-color: green;
  border-width: 5px;
}

.slider1 {
  height: 300px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

nav.navbar {
  background-color: #1c3664;
}

ul.nav.navbar-nav li a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
}

ul.nav a:hover {
  color: #fff !important;
}

.divisor {
  border-top: solid;
  border-color: gray;
}

.introduccion {
  text-align: justify;
  font-size: 20px;
}

.titulo {
  text-align: center;
}
/*.bx-wrapper, .bx-viewport {
    height: 220px !important;
}*/
