extends layout
block content
  .row
    .col-xs-12.col-md-9.col-lg-9.col-centered
      .col-xs-12.col-md-5.col-lg-4
        ul.slider1
          li
            img(src='img/slide1/33936-1406019241.jpg')
          li
            img(src='img/slide1/51574.jpg')
          li
            img(src='img/slide1/337802.jpg')
          li
            img(src='img/slide1/90250525-1376927244.jpg')
          li
            img(src='img/slide1/aro-salvavidas-4kg-homologado.jpg')
          li
            img(src='img/slide1/bushnell-equinox-monocular.jpg')
          li
            img(src='img/slide1/crewfitjunior-1375110501.jpg')
          li
            img(src='img/slide1/extintor-abc-2-kg-manual-1-73.jpg')
          li
            img(src='img/slide1/linterna-led-twist-underwater-kinetics-1-9388.jpg')
          li
            img(src='img/slide1/Main_Servicios_Balsa.jpg')
      .col-xs-12.col-md-4.col-lg-4
        ul.slider2
          li
            img(src='img/slide2/cable-ligthning-8-pins-blanco.jpg')
          li
            img(src='img/slide2/dock-para-iphone-multicolor.jpg')
          li
            img(src='img/slide2/cargador-cubo-blanco.jpg')
          li
            img(src='img/slide2/cable-magnetico-evio-lightning-plata.jpg')
          li
            img(src='img/slide2/cable-micro-usb-v8-blanco.jpg')
          li
            img(src='img/slide2/cargador-con-2-entradas-usb-de-1a-y-2a-blanco.jpg')
          li
            img(src='img/slide2/cargador-de-auto-plug-in-micro-usb-v8-negro.jpg')
          li
            img(src='img/slide2/cable-hdmi-15m-negro.jpg')
          li
            img(src='img/slide2/cargador-micro-usb-v8-negro.jpg')
      .col-xs-12.col-md-4.col-lg-4
        ul.slider3
          li
            img(src='img/slide3/Prevencion-de-Riesgos-del-Trabajo.jpg')
          li
            img(src='img/slide3/Mediadores-y-Conciliadores.jpg')
          li
            img(src='img/slide3/hacia-la-construccion-de-una-organizacion.jpg')
          li
            img(src='img/slide3/El-manejo-de-los-conflictos.jpg')
  .row
    .col-xs-12.col-md-9.col-lg-10.col-centered
        p.divisor
  .row
    .col-xs-12.col-md-9.col-lg-9.col-centered
      p.introduccion Cesgom Comercializadora S.A. de C.V. es una empresa mexicana especializada en distribución de todo tipo de refacciones, accesorios para smartphone´s y artículos náuticos. Así mismo brindamos servicio de desarrollo e integración de soluciones ofertando una mejor relación costo/beneficio, procurando incrementar su competitividad, innovación y mejora continua, distinguiéndonos por ofrecer un servicio de calidad.
    
