extends layout
block content
  .row
    .col-xs-12.col.sm-10.col-md-10.col-lg-9.col-centered
      h1.titulo QUIENES SOMOS?
      h3 Cesgom Comercializadora S.A. de C.V. es una empresa mexicana especializada en distribución de todo tipo de refacciones, accesorios para smartphone´s y artículos náuticos. Así mismo brindamos servicio de desarrollo e integración de soluciones ofertando una mejor relación costo/beneficio, procurando incrementar su competitividad, innovación y mejora continua, distinguiéndonos por ofrecer un servicio de calidad.
